
@model teresa.information.TestMasterInfo

<style>
    .btn {
        background-color: antiquewhite;
        border: none;
        margin: 10px;
        border-radius: 10%;
    }

    .aa {
        background-color: antiquewhite;
        color: black;
        padding: 10px 20px;
    }
</style>


@using (Ajax.BeginForm("Insert", "Test", new { area = "", isPartialview = true }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAjax", InsertionMode = InsertionMode.Replace }, new { id = "fmCreate" }))
{
    <h3>_CREATE </h3>

    <div class="form-group">
        <label class="col-sm-2 col-form-label aa text-center">

        @Html.DisplayNameFor(i => i.NO)
        </label>
        @Html.TextBoxFor(i => i.NO, new { type = "number", @class = "form-control", autocomplete = "off" })

    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label text-center aa"> @Html.DisplayNameFor(i => i.Name)</label>
        @Html.TextBoxFor(i => i.Name, new { type = "text", @class = "form-control", autocomplete = "off" })

    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label  text-center aa"> @Html.DisplayNameFor(i => i.Address)</label>
        @Html.TextBoxFor(i => i.Address, new { type = "text", @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(i => i.Address)
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label  text-center aa"> @Html.DisplayNameFor(i => i.Phone)</label>
        @Html.TextBoxFor(i => i.Phone, new { type = "text", @class = "form-control", autocomplete = "off" })
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label  text-center aa"> @Html.DisplayNameFor(i => i.Birthday)</label>
        @Html.TextBoxFor(i => i.Birthday, new { type = "date", @class = "form-control", autocomplete = "off" })

    </div>

    <div class="text-danger">
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-secondary">新增</button>
        <button type="submit"6 name="fun" value="Cancel" class="btn btn-secondary">取消</button>
    </div>
    @*<div class="text-danger">
            @Html.ValidationSummary()
     </div>*@
    @Html.AntiForgeryToken()
}
<script>
    $("fmCreate").removeData("validator");
    $("fmCreate").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("fmCreate");
</script>
