@model teresa.information.PageInationInfo

@{
    int lastPage = Model.Total / Model.Size;
    if (Model.Total % Model.Size != 0) { lastPage += 1; }
    int prevPage = (Model.Index - 1) < 1 ? Model.Index : (Model.Index - 1);
    int nextPage = (Model.Index + 1) > lastPage ? lastPage : (Model.Index + 1);

}

<button type="submit" onclick="$('#pager').val('1');">第一頁</button>
<button type="submit" onclick="$('#pager').val('@prevPage');">上一頁</button>
@*@for (int i = prevpage; i <= nextPage; i++)
    {
        string js = $"$('#pager').val('page{i}');";
        <button type="submit" onclick="@js">@i</button>
    }*@
<button type="submit" onclick="$('#pager').val('@nextPage');">下一頁</button>
<button type="submit" onclick="$('#pager').val('@lastPage');">最後頁</button>
<span>@($"{Model.Index}/{lastPage}")</span>

<span>共有 @Model.Total 比資料</span>

@*<input type="text" id="pager" name="pager" value="" />*@
<button type="submit" onclick="$('#paginationTotal').val('0');$('#pager').val('1');">更新資料</button>

<input type="hidden" id="pager" name="pagination.index" value="@Model.Index" />
<input type="hidden" name="pagination.size" value="@Model.Size" />
<input type="hidden" id="paginationTotal" name="pagination.total" value="@Model.Total" />

@*//name 可以跟controller 連結傳參數*@


 