@model IEnumerable<teresa.information.TestMasterInfo>
<style>
    button {
        background-color: antiquewhite;
        border: none;
        margin: 10px;
        border-radius: 10%;
    }
</style>
@{
    teresa.information.PageInationInfo pager = ViewBag.Pager;
    teresa.information.TestMasterInfo.Condtions condtions = ViewBag.condtions ?? new teresa.information.TestMasterInfo.Condtions();
}

@using (Html.BeginForm("List", "Test"))
{

    <label>@Html.DisplayNameFor(m => m.Name)</label>
    <input type="text" value="@condtions.Name" name="condtions.name" />
    <button type="submit" onclick="$('#paginationtotal').val('0');"> 查詢 </button>
    <table class="table table-hover">
        <thead>
            <tr style="background-color:aliceblue">
                @*@foreach (System.Data.DataColumn col in Model.Columns)
                    {
                        <td> @(col.ColumnName)</td>
                    }*@
                <td>@Html.DisplayNameFor(m => m.NO)</td>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.DisplayNameFor(m => m.Phone)</td>
                <td>@Html.DisplayNameFor(m => m.Address)</td>
                <td>@Html.DisplayNameFor(m => m.Age)</td>
                <td>@Html.DisplayNameFor(m => m.Birthday)</td>
                <td>@Html.DisplayNameFor(m => m.UpdaueTime)</td>


            </tr>
        </thead>
        <tbody>
            @foreach (teresa.information.TestMasterInfo e in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(i => e.NO)</td>
                    <td> @e.Name</td>
                    <td> @e.Phone </td>
                    <td> @e.Address </td>
                    <td>@(e.Age.HasValue ? e.Age.Value.ToString("#.#") : string.Empty) </td>
                    <td>@(e.Birthday.HasValue ? e.Birthday.Value.ToString("yyy-MM-dd") : string.Empty)</td>
                    <td> @Html.DisplayFor(i => e.UpdaueTime)</td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    @Html.Partial("~/Views/Shared/_Pager.cshtml", pager)
                </td>
            </tr>
        </tfoot>
    </table>
 


