@model teresa.information.TestMasterInfo

<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.SID)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.SID)">
</div>

<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.ID)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.ID)">
</div>

<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.NO)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.NO)">
</div>

<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.Name)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.Name)">
</div>

<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.Address)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.Address)">
</div>
<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.Age)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayTextFor(i => i.Age)">
</div>
<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.Birthday)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayFor(i => i.Birthday)">
</div>
<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.CreateTime)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayFor(i => i.CreateTime)">
</div>
<div class="form-group">
    <label class="badge"> @Html.DisplayNameFor(i => i.UpdaueTime)</label>
    <input type="email" class="form-control col-sm-112 text-left" id="exampleInputEmail1"
           disabled="disabled" value="@Html.DisplayFor(i => i.UpdaueTime)">
</div>

@*<table>

        <tbody>
            <tr>
                <td> @Html.DisplayNameFor(i => i.SID)</td>
                <td>@Html.DisplayTextFor(i => i.SID)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.ID)</td>
                <td>@Html.DisplayTextFor(i => i.ID)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.NO)</td>
                <td>@Html.DisplayTextFor(i => i.NO)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.Phone)</td>
                <td>@Html.DisplayTextFor(i => i.Phone)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.Name)</td>
                <td>@Html.DisplayTextFor(i => i.Name)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.Address)</td>
                <td>@Html.DisplayTextFor(i => i.Address)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.Age)</td>
                <td>@Html.DisplayTextFor(i => i.Age)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.Birthday)</td>
                <td>@Html.DisplayTextFor(i => i.Birthday)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.CreateTime)</td>
                <td>@Html.DisplayTextFor(i => i.CreateTime)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(i => i.UpdaueTime)</td>
                <td>@Html.DisplayTextFor(i => i.UpdaueTime)</td>
            </tr>
        </tbody>
    </table>*@